body {
  background-color: #000000;
  color: white;
}

nav {
  background-color: #2995dd;
}

.button {
  background-color: #060606;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow-x: hidden;
}

h1 {
  color: #060606;
  text-align: center;
}

.container-fluid {
  background-color: #2995dd;
}

.nav-link {
  color: #060606;
}

.navbar-toggler {
  background-color: #060606;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #2995dd;
  text-align: center;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contenedor-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #2995dd;
  transition: all 0.3s ease;
}

.contenedor-contacto {
  margin-top: 1rem;
  font-size: 1rem;
  color: #060606;
}

.contenedor-redes ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  margin: 0 10px;
}

a {
  display: inline-block;
  width: 40px;
  height: 40px;
}
a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.text {
  padding: 20px;
  color: white;
  border: 1px solid #060606;
}

.video {
  width: 100%;
  height: 500px;
}

.photo {
  max-width: 100%;
  width: 300px;
  height: 200px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px white;
}
.photo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.detalles {
  padding: 20px;
  font-size: 16px;
  border: 2px solid #2995dd;
  color: rgb(90, 214, 255);
}

.detalles-card {
  background-color: #060606;
  padding: 5px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}

.photo-card {
  max-width: 100%;
  width: 300px;
  height: 200px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px white;
}
.photo-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.servicios {
  background-color: #060606;
  padding: 50px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #060606;
}

.card {
  background-color: #2995dd;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  align-items: center;
}

.card h3 {
  font-weight: bold;
  margin-top: 10px;
}

.card p {
  font-size: 16px;
  color: #060606;
  margin-bottom: 20px;
}

.form-container {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px #2995dd;
}

button {
  background-color: #2995dd;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contactos {
  background-color: #060606;
  padding: 50px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #060606;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.card h3 {
  font-weight: bold;
  margin-top: 10px;
}

.card p {
  font-size: 16px;
  color: #060606;
  margin-bottom: 20px;
}

.ayuda {
  background-color: #060606;
  padding: 50px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #2995dd;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}

.card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.card h3 {
  font-weight: bold;
  margin-top: 10px;
}

.card p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.card button {
  background-color: #060606;
  color: #2995dd;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card button:hover {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .photo {
    padding: 10px;
  }
  .photo img {
    height: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .photo {
    padding: 5px;
  }
  .photo img {
    height: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .photo {
    padding: 3px;
  }
  .photo img {
    height: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .photo {
    padding: 30px;
  }
  .photo img {
    height: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .car-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    padding: 10px;
  }
  .card img {
    height: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .car-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    padding: 5px;
  }
  .card img {
    height: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .card {
    padding: 3px;
  }
  .card img {
    height: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .car-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card {
    padding: 30px;
  }
  .card img {
    height: 200px;
  }
}
/* media querys footer*/
@media (min-width: 768px) {
  .container-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem;
  }
  .container-footer .contenedor-logo {
    max-width: 120px;
  }
  .container-footer .contenedor-contacto, .container-footer .contenedor-redes {
    font-size: 1rem;
    margin-top: 0;
    text-align: left;
  }
  .container-footer .contenedor-redes ul {
    justify-content: flex-start;
  }
  .container-footer .contenedor-redes ul img {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .container-footer {
    padding: 3rem;
  }
  .container-footer .contenedor-logo {
    max-width: 150px;
  }
  .container-footer .contenedor-logo img {
    width: 100%;
    height: auto;
  }
  .container-footer .contenedor-contacto, .container-footer .contenedor-redes {
    font-size: 1.1rem;
  }
  .container-footer .contenedor-redes ul img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .container-footer {
    padding: 4rem;
  }
}
.contenedor-logo {
  max-width: 200px;
}

.contenedor-redes ul img {
  width: 60px;
}

/*# sourceMappingURL=style.css.map */
