//media querys index
@media only screen and (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .photo {
      padding: 10px;
    }
    .photo img {
      height: 100px;
    }
  }

  @media only screen and (max-width: 480px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .photo {
      padding: 5px;
    }
    .photo img {
      height: 50px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .photo {
      padding: 3px;
    }
    .photo img {
      height: 30px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }
    .photo {
      padding: 30px;
    }
    .photo img {
      height: 200px;
    }
  }
  //mediaquerys servicios
@media only screen and (max-width: 768px) {
    .car-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .card {
      padding: 10px;
    }
    .card img {
      height: 100px;
    }
  }
@media only screen and (max-width: 480px) {
    .car-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .card {
      padding: 5px;
    }
    .card img {
      height: 50px;
    }
  }

@media only screen and (max-width: 320px) {
    .card {
      padding: 3px;
    }
    .card img {
      height: 30px;
    }
  }
@media only screen and (min-width: 1024px) {
    .car-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .card {
      padding: 30px;
    }
    .card img {
      height: 200px;
    }
  }
/* media querys footer*/
@media (min-width: 768px) {
  .container-footer {
    flex-direction: row; 
    justify-content: space-between;
    padding: 2.5rem; 

    .contenedor-logo {
      max-width: 120px; 
    }

    .contenedor-contacto, .contenedor-redes {
      font-size: 1rem; 
      margin-top: 0;
      text-align: left; 
    }

    .contenedor-redes ul {
      justify-content: flex-start;
      img {
        width: 40px; 
        height: 40px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .container-footer {
    padding: 3rem;

    .contenedor-logo {
      max-width: 150px; 
      img {
        width: 100%;
        height: auto;
      }
    }
    .contenedor-contacto, .contenedor-redes {
      font-size: 1.1rem; 
    }
    .contenedor-redes ul {
      img {
        width: 50px; 
        height: 50px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .container-footer {
    padding: 4rem; 
  }
}
    .contenedor-logo {
      max-width: 200px; 
    }

    .contenedor-redes ul {
      img {
        width: 60px; 
      }
    }

