.logo-img {
    width: 100px;
    height: 100px;
  }
  
  h1 {
    color: $third-color;
    text-align: center;
  }
  
  .container-fluid {
    background-color: rgb(90, 214, 255);
  }
  
  .nav-link {
    color: $third-color;
  }
  
  .navbar-toggler {
    background-color: rgb(90, 214, 255);
  }
  