.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow-x: hidden;
  }
  
  h1 {
    color: $secondary-color;
    text-align: center;
  }
  
  .container-fluid {
    background-color: $primary-color;
  }
  
  .nav-link {
    color: $secondary-color;
  }
  
  .navbar-toggler {
    background-color: $secondary-color;
  }